[Unit]
Description=Mullvad Allow CoreDNS
After=network.target

[Service]
# The command to start the script
ExecStart=/usr/local/bin/mullvad-allow-coredns
# Restart if it crashes
Restart=always
# Wait 5 seconds before restart
RestartSec=5

[Install]
# Start at boot
WantedBy=multi-user.target
